/*
 * =================== Start pricing table =====================*/
.plan-name span {background-color:#4D2626;color:#fff;padding: 8px;}
.button{line-height: 35px !important;}
.plan-name {
	margin-top:40px;
	text-align: center;
}
.plan-name h2{
font-weight: bold;
font-size: 36px;
padding-top: 30px;
padding-bottom: 10px;
}
.plan-name h6{
font-size: 22px;
padding-top: 10px;
padding-bottom: 10px;
}
.demoftr h2 {
	font-weight: bold;
	font-size: 26px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
}
.ftr_img{
border: 1px solid #e3e3e3;
background: #f7f7f7;padding:10px;
}
.plan-name .centre{
	padding-top:40px; 
	text-align: center;
	float:left;
	width:100%;
}
.plan-name .centre h2{
	font-weight: bold;
	font-size: 36px;
	padding-top: 10px;
	padding-bottom: 25px;
	}
.purchase_btn_div {
	margin-top:20px;
	text-align: center;
	}
	.dmobtn{ margin-right:10px; }
.pricing-table .plan {
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}

.pricing-table .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}

.pricing-table .plan .plan-name {
  padding: 20px;
  color: #fff;
  background-color: #1E8CBE;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
  font-size: 20px;
}

.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-top: 1px solid #c5c8c0;
}

.pricing-three-column {
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
}

.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  /* Support for inline-block in IE7 */
  zoom:1;
  *display:inline;
}

.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}

.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}
.plan ul{
padding:0px;
}

/*
 * =================== End pricing table =====================*/

 

/*-----------------------
---iPad Slider Styles----
-------------------------*/

.ipad-frame {
    display:block;
    position:relative;
    width:100%;
    margin:0 auto;
    overflow:hidden;
}

.ipad-screen{
   display: block;
position: absolute;
top: 3.7%;
left: 14.755%;
width: 71.25%;
height: 86.3%;
overflow: hidden;
}

.flexslider {
    margin:0;
    padding:0;
    background:transparent;
    border:none;
    box-shadow:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index:1;
}

.ipad-slider .flex-direction-nav .flex-prev,
.ipad-slider .flex-direction-nav .flex-next{
    background:#31C4DD;
    background-image:none;
    display:inline;
    text-indent:0;
    position:absolute;
    top:50%;
    width:44px;
    height:44px;
    padding:0;
    padding-left:12px;
    margin:0;
    margin-top:-22px;
    font-size:42px;
    line-height:38px;
    color:#fff;
    border-radius:5px;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

.ipad-slider .flex-direction-nav .flex-next{
    text-align:right;
    padding-right:12px;
}

.ipad-slider .flex-direction-nav a:hover,
.ipad-slider .flex-direction-nav a:active,
.ipad-slider .flex-direction-nav a:focus{
    text-decoration:none;
}

.ipad-slider .flex-direction-nav a:hover {  
    background:#363B46;
}

.ipad-slider:hover .flex-next {opacity: 1; right: 5px;}
.ipad-slider:hover .flex-prev {opacity: 1; left: 5px;}

/** product thumb style **/
.theme-frame {
    display:block;
    position:relative;
    width:100%;
    margin:0 auto;
    overflow:hidden;
}

.theme-screen{
    display: block;
    position: absolute;
    top: 4.0%;
    left: 11.7%;
    width: 77.00%;
    height: 87.0%;
    overflow: hidden;
}




 
/*-----------------------
-----Scrollimations------
------------------------*/   
.scrollimation.fade-in{
	opacity:0;
	-webkit-transition:opacity 0.6s ease-out;
	transition:opacity 0.6s ease-out;
}

.scrollimation.fade-in.in{
	opacity:1;
}

.scrollimation.scale-in{
	opacity:0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform:scale(0.5);
	-webkit-transition: -webkit-transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
	transition: transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
}

.scrollimation.scale-in.in{
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.scrollimation.fade-right{
	opacity:0;
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	transform:translateX(-100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-out;
	transition: transform .4s ease-out,opacity .4s ease-out;
}

.scrollimation.fade-right.in{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scrollimation.fade-left{
	opacity:0;
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform:translateX(100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-out;
	transition: transform .4s ease-out,opacity .4s ease-out;
}

.scrollimation.fade-left.in{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scrollimation.fade-up{
	opacity:0;
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform:translateY(100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-in;
	transition: transform .4s ease-out,opacity .4s ease-in-out;
}

.scrollimation.fade-up.in{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}

.scrollimation.d1{
	transition-delay:.2s;
}

.scrollimation.d2{
	transition-delay:.4s;
}

.scrollimation.d3{
	transition-delay:.6s;
}

.scrollimation.d4{
	transition-delay:.8s;
}

.touch .scrollimation.fade-in{
	opacity:1;
}

.touch .scrollimation.scale-in{
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.touch .scrollimation.fade-right{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch .scrollimation.fade-left{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch .scrollimation.fade-up{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}
@media (max-width:1400px) { 

.ipad-screen{
   display: block;
position: absolute;
top: 3.7%;
left: 14.655%;
width: 71.25%;
height: 86.3%;
overflow: hidden;
}

}
